section.fitness
	.container
		h2.fitness__title.title Физическая активность
		p.fitness__desc.desc-title Глюкоза — это основное топливо для мышц, за счет регулярных нагрузок она активно расходуется, поддерживается более низкий ее уровень в плазме. Кроме того, нагрузки помогают поддерживать здоровье в целом и хорошее настроение, укрепляют сердце и сосуды, помогают избавиться от лишних килограммов.
		.fitness__list
			.exercise
				img.exercise__image(src="img/exercise-1.png", alt="")
				p.exercise__text Стоя ровно, отведите одну прямую ногу назад, поднимите обе руки вверх — вдох, вернитесь в исходное положение — выдох. Повторите 4-5 раз.
			.exercise
				img.exercise__image(src="img/exercise-2.png", alt="")
				p.exercise__text В течение 2–4 минут ходите, попеременно высоко поднимая левое и правое бедра, с движениями рук вверх и в стороны, с выпадами. Дышите свободно.
			.exercise
				img.exercise__image(src="img/exercise-3.png", alt="")
				p.exercise__text Встаньте прямо, руки за головой, локти сведите перед лицом. На счет «раз-два» разведите в стороны, вдохните. На счет «три-четыре» вернитесь в исходное положение, наклоните голову вперед, выдохните.
			.exercise
				img.exercise__image(src="img/exercise-4.png", alt="")
				p.exercise__text Ноги на ширине плеч. Разведите руки в стороны, повернитесь туловищем до упора влево, правая рука при этом находится перед грудью. Затем повернитесь до отказа вправо (левая рука перед грудью, правая отведена в сторону).
			.exercise
				img.exercise__image(src="img/exercise-5.png", alt="")
				p.exercise__text Руки разведены. Наклонитесь вперед к левой ноге, доставая носок правой рукой. Повторите с другой рукой.
			.exercise
				img.exercise__image(src="img/exercise-6.png", alt="")
				p.exercise__text Руки в стороны, ноги врозь. Сделайте 3 пружинящих наклона влево (правая нога согнута, левая рука за спиной, правая поднята вверх).
			.exercise
				img.exercise__image(src="img/exercise-7.png", alt="")
				p.exercise__text Махи ногами, доставая ладони сведенных впереди рук.