header.about-header
	.container
		.about-header__wrap
			.about-header__left
				h1.about-header__title Общеобразовательный блог о здоровье человека
				p.about-header__desc Здесь делятся советами, рассказывают о способах поддержания себя в хорошей форме и диагностике заболеваний
			.about-header__right
				img(src="img/svg/about_bg.svg", alt="")