header.about-header
	.container
		.about-header__wrap
			.about-header__left
				h1.about-header__title Общеобра&shy;зовательный блог о&nbsp;здоровье
				p.about-header__desc Здесь вы найдете советы по укреплению здоровья, способы поддержания себя в хорошей форме и диагностики нарушений.
			.about-header__right
				img(src="img/svg/about_bg.svg", alt="")