section.purpose
	.container
		.purpose__wrap
			.purpose__col
				img.purpose__img(src="img/svg/vision.svg", alt="")
				.purpose__desc
					h2.purpose__ttl.title Наше видение
					p.purpose__text Жить в удовольствие — значит быть здоровым. Здоровье — самое ценное, что у вас есть, и оно только в ваших руках!
			.purpose__col
				img.purpose__img(src="img/svg/mission.svg", alt="")
				.purpose__desc
					h2.purpose__ttl.title Наша миссия
					p.purpose__text Помочь каждому обрести вкус здоровой жизни: просыпаться полными сил, энергии с хорошим настроением и самочувствием!