section.purpose
	.container
		.purpose__wrap
			.purpose__col
				img.purpose__img(src="img/svg/vision.svg", alt="")
				.purpose__desc
					h2.purpose__ttl.title Наше видение
					p.purpose__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, expedita!
			.purpose__col
				img.purpose__img(src="img/svg/mission.svg", alt="")
				.purpose__desc
					h2.purpose__ttl.title Наша миссия
					p.purpose__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, expedita!