section.recipes
	.container
		h2.recipes__title.title Кулинарные рецепты
		p.recipes__desc.desc-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, minima! Laborum autem quia perferendis quaerat rem obcaecati, ipsum earum. Asperiores similique eos alias fuga porro? Voluptatem sed molestias praesentium neque?
		.recipes__list
			.recipe
				h3.recipe__ttl ГРУШЕВО-ИМБИРНЫЙ ДЕСЕРТ
				.recipe__content
					img.recipe__photo(src="img/recipe-1.jpg", alt="")
					ul.recipe__list.list-r
						li.list-r__item груши твердых сортов (4 шт)
						li.list-r__item молотый имбирь (15 г)
						li.list-r__item подсластитель (1-2 чайн.л)
						li.list-r__item грецкие орехи (6 ядер)
					p.recipe__desc Груши моем и разрезаем на две половинки, убрав серединку. Посыпаем их сахаром и имбирем, на место сердцевины выкладываем дробленый грецкий орех. Запекаем в духовке до образования золотистой корочки.
			.recipe
				h3.recipe__ttl ШОКОЛАДНО-БАНАНОВЫЙ КЕКС В КРУЖКЕ
				.recipe__content
					img.recipe__photo(src="img/recipe-2.jpg", alt="")
					ul.recipe__list.list-r
						li.list-r__item большой банан (1 шт)
						li.list-r__item яйцо (1 шт)
						li.list-r__item какао-порошок (4 ч.л)
						li.list-r__item подсластитель (3 ч.л)
						li.list-r__item греческий нежирный йогурт (60 г)
						li.list-r__item разрыхлитель (⅓ ч. л)
					p.recipe__desc Спелый банан очищаем от кожуры и разминаем вилкой, выкладывая его в 4 чашки. В отдельной миске смешиваем яйцо, подсластитель, какао и йогурт. Взбиваем вилкой до однородности. Добавляем разрыхлитель и распределяем смесь по чашкам. Выпекаем в микроволновой печи в течение 2 минут при мощности 800 Вт.