footer.footer
	.container
		.footer__top
			.footer__col
				a.footer__logo(href="/")
					img(src="img/logo-w.png", alt="Pro Health")
				p.footer__desc Блог о поддержании психологического и физического здоровья. Советы экспертов для отличного самочувствия, профилактики нарушений и восстановления!
			ul.footer__list.menu-f
				li.menu-f__item
					a.menu-f__link(href="about.html") О нас
				li.menu-f__item
					a.menu-f__link(href="blog.html") Блог
				li.menu-f__item
					a.menu-f__link(href="contacts.html") Контакты
		p.footer__copy Pro Health 2021. All rights reserved