footer.footer
	.container
		.footer__top
			.footer__col
				a.footer__logo(href="/") БЛОГОВЕСТ
				p.footer__desc Блог о поддержании здоровья, как психологического так и физического. Нет ничего прекраснее отличного самочуствия!
			ul.footer__list.menu-f
				li.menu-f__item
					a.menu-f__link(href="#") О нас
				li.menu-f__item
					a.menu-f__link(href="#") Блог
				li.menu-f__item
					a.menu-f__link(href="#") Контакты
		p.footer__copy ©БЛОГОВЕСТ 2021. All rights reserved