form.form(action="/", method="post")
	input.form__input(type="text", name="name" placeholder="Имя")
	input.form__input(type="tel", name="phone" placeholder="Телефон")
	input.form__input(type="email", name="email" placeholder="E-mail")
	button.btn.form__btn Отправить