.nav
	.container
		.nav__wrapper
			a.nav__logo(href="/")
				picture
					source(media="(max-width: 1023px)", srcset="img/logo-w.png")
					img(src="img/logo-b.png", alt="Pro Health")
			ul.nav__list.menu
				li.menu__item
					a.menu__link(href="about.html") О нас
				li.menu__item
					a.menu__link(href="blog.html") Блог
				li.menu__item
					a.menu__link(href="contacts.html") Контакты
			.nav__burger.burger.js-burger(data-target="#js-mobile-menu")
				span.burger__line
				span.burger__line
				span.burger__line
include menu-mob
