.menu-mobile#js-mobile-menu
	.menu-mobile__wrap
		.menu-mobile__top
			img.menu-mobile__logo(src="img/logo-w.png", alt="Pro Health")
			.burger.js-burger(data-target="#js-mobile-menu")
				span.burger__line
				span.burger__line
				span.burger__line
		ul.menu-mobile__menu.nav-list
				li.nav-list__item
					a.nav-list__link(href="about.html") О нас
				li.nav-list__item
					a.nav-list__link.js-scroll(href="blog.html") Блог
				li.nav-list__item
					a.nav-list__link.js-scroll(href="contacts.html") Контакты
		.menu-mobile__bottom