.nav
	.container
		.nav__wrapper
			a.nav__logo(href="/") БЛОГОВЕСТ
			ul.nav__list.menu
				li.menu__item
					a.menu__link(href="about.html") О нас
				li.menu__item
					a.menu__link(href="blog.html") Блог
				li.menu__item
					a.menu__link(href="contacts.html") Контакты