section.article.article--2
	.container
		h1.article__title Продукты с низким гликемическим индексом
		img.article__photo-main(src="img/article-main-2.jpg", alt="")
		.article__content
			p.article__text-main Гликемический индекс (ГИ) — это величина, используемая для измерения того, насколько определенные продукты повышают уровень сахара в крови. В таблице представлены продукты из разных пищевых групп с низким гликемическим индексом для разнообразия рациона людей с повышенным уровнем сахара.
			.article__flex
				.article__left
					.article__row
						.article__wrap
							h4.article__ttl.article__ttl--veg
								i.fico.fico-carrot
								span Овощи
							ul.article__list-veg.list-veg
								li.list-veg__item
									span.list-veg__text Морковь
									span.list-veg__text 35
								li.list-veg__item
									span.list-veg__text Тыква
									span.list-veg__text 25
								li.list-veg__item
									span.list-veg__text Кабачки
									span.list-veg__text 15
								li.list-veg__item
									span.list-veg__text Баклажаны
									span.list-veg__text 10
								li.list-veg__item
									span.list-veg__text Помидор
									span.list-veg__text 10
								li.list-veg__item
									span.list-veg__text Перец сладкий (болгарский)
									span.list-veg__text 15
								li.list-veg__item
									span.list-veg__text Свекла
									span.list-veg__text 30
								li.list-veg__item
									span.list-veg__text Редис
									span.list-veg__text 15
								li.list-veg__item
									span.list-veg__text Капуста белокочанная
									span.list-veg__text 15
						.article__wrap
							h4.article__ttl.article__ttl--veg
								i.fico.fico-apple
								span Фрукты
							ul.article__list-veg.list-veg
								li.list-veg__item
									span.list-veg__text Яблоки
									span.list-veg__text 36
								li.list-veg__item
									span.list-veg__text Клубника
									span.list-veg__text 41
								li.list-veg__item
									span.list-veg__text Апельсины
									span.list-veg__text 43
								li.list-veg__item
									span.list-veg__text Банан
									span.list-veg__text 51
								li.list-veg__item
									span.list-veg__text Черника
									span.list-veg__text 30
					.article__row
						.article__wrap
							h4.article__ttl.article__ttl--veg
								i.fico.fico-cereal
								span Зерновые
							ul.article__list-veg.list-veg
								li.list-veg__item
									span.list-veg__text Ячмень
									span.list-veg__text 28
								li.list-veg__item
									span.list-veg__text Овсяные хлопья
									span.list-veg__text 55
								li.list-veg__item
									span.list-veg__text Каша гречневая
									span.list-veg__text 40
						.article__wrap
							h4.article__ttl.article__ttl--veg
								i.fico.fico-peas
								span Бобовые
							ul.article__list-veg.list-veg
								li.list-veg__item
									span.list-veg__text Фасоль
									span.list-veg__text 24
								li.list-veg__item
									span.list-veg__text Нут
									span.list-veg__text 28
								li.list-veg__item
									span.list-veg__text Чечевица
									span.list-veg__text 32
								li.list-veg__item
									span.list-veg__text Горох
									span.list-veg__text 35
					.article__row
						.article__wrap
							h4.article__ttl.article__ttl--veg
								i.fico.fico-nut
								span Орехи
							ul.article__list-veg.list-veg
								li.list-veg__item
									span.list-veg__text Арахис
									span.list-veg__text 15
								li.list-veg__item
									span.list-veg__text Грецкий орех
									span.list-veg__text 15
								li.list-veg__item
									span.list-veg__text Кешью
									span.list-veg__text 15
								li.list-veg__item
									span.list-veg__text Миндаль
									span.list-veg__text 10
						.article__wrap
							h4.article__ttl.article__ttl--veg
								i.fico.fico-bread
								span Хлеб
							ul.article__list-veg.list-veg
								li.list-veg__item
									span.list-veg__text Хлеб цельнозерновой
									span.list-veg__text 35
								li.list-veg__item
									span.list-veg__text Пшеничный хлеб из муки в/с
									span.list-veg__text 50
								li.list-veg__item
									span.list-veg__text Пшеничный хлеб с отрубями
									span.list-veg__text 50
								li.list-veg__item
									span.list-veg__text Хлеб зерновой
									span.list-veg__text 40
					.article__row
						.article__wrap
							h4.article__ttl.article__ttl--veg
								i.fico.fico-milk
								span Молочные продукты
							ul.article__list-veg.list-veg
								li.list-veg__item
									span.list-veg__text Йогурт
									span.list-veg__text 41
								li.list-veg__item
									span.list-veg__text Творог
									span.list-veg__text 30
								li.list-veg__item
									span.list-veg__text Сливки 10%
									span.list-veg__text 30
								li.list-veg__item
									span.list-veg__text Обезжиренное молоко
									span.list-veg__text 37
						.article__wrap
							h4.article__ttl.article__ttl--veg
								i.fico.fico-soda
								span Подсластители
							ul.article__list-veg.list-veg
								li.list-veg__item
									span.list-veg__text Фруктоза
									span.list-veg__text 15
								li.list-veg__item
									span.list-veg__text Кокосовый сахар
									span.list-veg__text 54
								li.list-veg__item
									span.list-veg__text Кленовый сироп
									span.list-veg__text 54
				.article__right
					.label.label--red
						p.label__text Высокий уровень
							span 70 и выше
					.label.label--orange
						p.label__text Средний уровень
							span 56-69
					.label.label--green
						p.label__text Низкий уровень
							span 55 и меньше