section.article
	.container
		h1.article__title Побеждаем диабет
		img.article__photo-main(src="img/article-main-1.jpg", alt="")
		.article__content
			p.article__text-main На сегодняшний день повышенный уровень сахара успешно терапевтируется, а его негативные проявления — купируются при помощи грамотно выстроенной стратегии лечения. 
			.article__wrap
				h4.article__ttl Факторы, влияющие на повышения уровня сахара
				.article__desc
					.article__info
						.factor
							.factor__photo-wrap
								i.fico.fico-diabet5
							p.factor__text Факторы генетики
						.factor
							.factor__photo-wrap
								i.fico.fico-diabet1
							p.factor__text Процессы старения
						.factor
							.factor__photo-wrap
								i.fico.fico-diabet2
							p.factor__text Лишний вес
						.factor
							.factor__photo-wrap
								i.fico.fico-diabet3
							p.factor__text Гестационный диабет
						.factor
							.factor__photo-wrap
								i.fico.fico-diabet4
							p.factor__text Низкая активность
			.article__wrap
				h4.article__ttl Зачем контролировать уровень сахара?
				.article__desc
					p.article__text Неконтролируемое повышение уровня сахара может привести к хронически высокому уровню глюкозы крови, что потенциально провоцирует серьезные осложнения, поэтому важно придерживаться общих рекомендаций для сохранения отличного самочувствия и долголетия.
			.article__wrap
				h4.article__ttl Жизнь при повышенном уровне сахара
				.article__desc
					p.article__text Важно соблюдать спокойствие и помнить, что долгая и полноценная жизнь с повышенным возможна. В первую очередь нужно постепенно начать менять свой образ жизни, повышать уровень активности, избегать стрессов и улучшать пищевые привычки.
			.article__wrap
				h4.article__ttl Как избежать осложнений?
				.article__desc
					ul.article__list.list-art.mt
						li.list-art__item
							span.bold Ешьте здоровую пищу
							| Сосредоточьтесь на цельных продуктах и сложных углеводах, таких как бобы, злаки и крахмалистые овощи. Ограничьте простой сахар, например, в обработанной выпечке. Он может повысить уровень глюкозы крови.
						li.list-art__item
							span.bold Больше двигайтесь
							| Старайтесь уделять упражнениям хотя бы 20 минут в день. Даже небольшие аэробные нагрузки в течение дня благоприятно влияют на скорость метаболизма.
						li.list-art__item
							span.bold Сохраняйте здоровую массу тела
							| При наличии избыточного веса, критически важно сбросить лишние килограммы. Для этого не нужны изнурительные диеты. Наш дневник поможет вам худеть, не теряя вкус к жизни.
						li.list-art__item
							span.bold Посещение врача
							| Регулярно посещайте врача и контролируйте уровень сахара в крови. Следите за состоянием вашего тела, ухаживайте за ним и при возникновении жалоб посещайте специалистов по проблеме.
			.article__wrap
				h4.article__ttl Для чего вести дневник самоконтроля?
				.article__desc
					p.article__text Под самоконтролем понимают анализ некоторых параметров в домашних условиях. В том числе измерение уровня сахара.
					p.article__text Ценность результатов, полученных при самоконтроле в домашних условиях, гораздо выше, поскольку они отражают ваше состояние в условиях реальной жизни. Дневник служит основой для коррекции лечения, проводимой как самостоятельно, так и после обсуждения с врачом.
			.article__wrap
				h4.article__ttl Лекарственная терапия
				.article__desc
					p.article__text В настоящее время сахароснижающие препараты используются для лечения повышенного уровня сахара крови в комбинации с подобранным режимом питания и физической активности сразу после установления диагноза.
					p.article__text С течением времени эффективность сахароснижающих препаратов может снижаться, и для поддержания нормального уровня глюкозы в крови вам может понадобиться комбинация препаратов или назначение инсулина.
			.article__wrap
				h4.article__ttl Питание при контроле сахара
				.article__desc
					p.article__text Питание — основа профилактической терапии для любого человека с симптомами повышенного сахара. Без соблюдения рекомендаций по питанию контролировать заболевание невозможно.