section.article
	.container
		h1.article__title Дышите полными легкими и живите свободно  
		img.article__photo-main(src="img/article-main-8.jpg", alt="")
		.article__content
			p.article__text-main Наши специалисты подобрали два комплекса простых и эффективных упражнений для нормализации артериального давления. Мы советуем начинать с дыхательной гимнастики по методике Шишонина. Если вам легко дается этот комплекс упражнений, переходите на гимнастику Евдокименко. 
			.article__wrap
				h4.article__ttl.article__ttl--color Метод Шишонина
				.article__desc
					p.article__text Система состоит из простых упражнений, основанных на дыхании животом. Во время вдоха активное сокращение диафрагмы и правильное дыхание снимает головные боли при гипертонии, улучшает кровоснабжение сердца, головного мозга, лёгких.
					p.article__text.article__text--bold Для снижения давления достаточно каждый день выполнять два простых упражнения:
					.article__exercises.mt
						.exercise-item
							.exercise-item__photo-wrap
								img.exercise-item__photo(src="img/exercise_1.png", alt="")
							p.exercise-item__text Глубоко вдохнуть животом, не расширяя грудную клетку. Задержать воздух на 10 секунд, медленно выдохнуть, подождать 5-10 секунд.
						.exercise-item
							.exercise-item__photo-wrap
								img.exercise-item__photo(src="img/exercise_2.png", alt="")
							p.exercise-item__text Во время вдоха животом поднять руки вверх, во время выдоха медленно опустить их вниз, подождать 5-10 секунд.
			.article__wrap
				h4.article__ttl.article__ttl--color Метод Евдокименко
				.article__desc
					p.article__text Дыхательные упражнения улучшают прохождение крови по сосудам, стабилизируют кровообращение, понижают показатели АД до нормы.
					p.article__text.article__text--bold Гимнастика состоит из трех упражнений:
					.article__exercises.mt
						.exercise-item
							.exercise-item__photo-wrap
								img.exercise-item__photo(src="img/exercise_3.png", alt="")
							p.exercise-item__text Вращение головой — улучшает кровообращение воротниковой зоны, головного мозга. Выполняют сидя, спина прямая, плечи расправлены. Голову наклонить вперед, коснуться подбородком грудной клетки. Делать кругообразные движение сначала вправо, потом влево: 20 раз в каждую сторону. После первого подхода, голову выпрямить, 10 раз резко вдохнуть-выдохнуть, отдохнуть 3 минуты. Сделать еще 2 подхода.
						.exercise-item
							.exercise-item__photo-wrap
								img.exercise-item__photo(src="img/exercise_4.png", alt="")
							p.exercise-item__text Брюшное дыхание — выполняют сидя или лежа. Одну руку кладут на живот, другую на грудь. Медленно вдыхая, наполняют брюшную полость воздухом. Как только живот будет наполнен кислородом, нужно сделать глубокий вдох грудью, хотя и будет казаться, что места для воздуха уже не осталось. Сделать вдох, задержать дыхание на 7 секунд, плавно выдохнуть и задержать дыхание еще на 7 секунд. Затем отдыхают 1 минуту, повторяют упражнение 5 раз.
						.exercise-item.exercise-item--max
							.exercise-item__photo-wrap
								img.exercise-item__photo(src="img/exercise_5.png", alt="")
							p.exercise-item__text Медленный выдох — выполняют лежа. Вдох делают точно так же, как во втором упражнении. Выдох — сначала освобождают брюшную полость, затем грудную клетку. Выдыхать нужно в три раза медленнее, чем вдыхать. Повторяют 5 раз, делая перерывы между упражнениями по 1 минуте.
			.article__wrap
				h4.article__ttl Правила выполнения упражнений при гипертонии
				.article__desc
					p.article__text Чтобы получить максимум пользы от тренировок, нужно соблюдать несколько простых правил:
					ul.article__list.list-art.mt.mb
						li.list-art__item Перед занятиями проветривают помещение.
						li.list-art__item Гимнастику делают до еды.
						li.list-art__item Вдыхают только носом. Вдох шумный, короткий, активный. Самая большая ошибка — тянуть вдох, чтобы набрать больше воздуха, раздуваясь, что есть силы.
						li.list-art__item Подряд делают столько вдохов, сколько можно легко себе позволить. В тяжелом состоянии упражнения выполняются сидя или лежа, в нормальном — стоя. Чем хуже самочувствие, тем больше нужно делать гимнастику, но чаще отдыхать.
						li.list-art__item Нагрузку наращивают постепенно, прислушиваясь к своим ощущениям.
					p.article__text Перед тренировками по любому методу нужно сделать легкую двухминутную разминку для разогрева. Это могут быть приседания, махи руками, вращения головой из стороны в сторону, бег на месте.
			.article__wrap
				h4.article__ttl Противопоказания и побочные эффекты:
				.article__desc
					p.article__text Хотя дыхательная гимнастика — достаточно безопасный метод терапии, здесь тоже есть противопоказания. Запрещается выполнять упражнения при: 
					ul.article__list.list-art.mt.mb
						li.list-art__item Остром тромбофлебите;
						li.list-art__item Высокой температуре;
						li.list-art__item Обострении остеохондроза;
						li.list-art__item Гипертоническом кризе.
					p.article__text.article__text--quote Перед выполнением упражнений рекомендуется проконсультироваться с врачом.