section.article
	.container
		h1.article__title О калориях в еде
		img.article__photo-main(src="img/article-main-10.jpg", alt="")
		.article__content
			.article__wrap
				h4.article__ttl Определите свои рамки калорийности пищи в сутки. Важно учитывать возраст и уровень активности в течение дня.
				.article__desc
					.article__table-calories.article__table-calories--small.table-calories
						.table-calories__row.table-calories__row--title
							p.table-calories__col.table-calories__col--big ВОЗРАСТ
							p.table-calories__col.table-calories__col--big СИДЯЧИЙ ОБРАЗ ЖИЗНИ
							p.table-calories__col.table-calories__col--big УМЕРЕННАЯ АКТИВНОСТЬ
							p.table-calories__col.table-calories__col--big АКТИВНЫЙ ОБРАЗ ЖИЗНИ
						.table-calories__row
							p.table-calories__col.table-calories__col--big до 35 лет
							p.table-calories__col.table-calories__col--big 1800-2000 кКал
							p.table-calories__col.table-calories__col--big 2000-2200 кКал
							p.table-calories__col.table-calories__col--big 2400 кКал
						.table-calories__row
							p.table-calories__col.table-calories__col--big 35-50 лет
							p.table-calories__col.table-calories__col--big 1800-2000 кКал
							p.table-calories__col.table-calories__col--big 1900-2100 кКал
							p.table-calories__col.table-calories__col--big 2000-2200 кКал
						.table-calories__row
							p.table-calories__col.table-calories__col--big 50+
							p.table-calories__col.table-calories__col--big 1600-1800 кКал
							p.table-calories__col.table-calories__col--big 1800-2000 кКал
							p.table-calories__col.table-calories__col--big 2000-2200 кКал
			.article__wrap
				.article__qr-code.qr-code
					.qr-code__left
						p.qr-code__title Если у вас возникнут дополнительные вопросы, сложности в этот период — наши специалисты с радостью ответят на них в чате
						p.qr-code__label Наведите камеру на QR-код и пообщайтесь с нашим экспертом
					img.qr-code__photo(src="img/qr.png", alt="")
			.article__wrap
				h4.article__ttl Важно не забывать принимать правильно подобранные пищевые добавки. Они отвечают за:
				.article__desc
					ul.article__list.list-art.mt.mb
						li.list-art__item активизацию процессов обмена веществ
						li.list-art__item очищение организма
						li.list-art__item предотвращение образования жира
						li.list-art__item снижение уровня холестерина
						li.list-art__item улучшение работы внутренних органов
						li.list-art__item снятие усталости и раздражительности
						li.list-art__item нормализацию гормонального баланса
						li.list-art__item после 35 лет помогают прийти к результату быстрее и без вреда для здоровья
			.article__wrap
				h4.article__ttl Наши диетологи разработали удобную таблицу, чтобы вы могли следить за калорийностью пищи
				.article__desc
					.article__table-calories.table-calories.mb
						.table-calories__row.table-calories__row--title
							p.table-calories__col.table-calories__col--small кКал на 100 гр продукта
							p.table-calories__col.table-calories__col--small овощи
							p.table-calories__col.table-calories__col--small фрукты
								br
								| ягоды
							p.table-calories__col.table-calories__col--small молочные
							p.table-calories__col.table-calories__col--small мясо
								br
								| птица
							p.table-calories__col.table-calories__col--small рыба
							p.table-calories__col.table-calories__col--small крупы
								br
								| бобовые
						.table-calories__row
							p.table-calories__col.table-calories__col--small
								span
									span.bold малая 
									| 30-99 кКал
							p.table-calories__col.table-calories__col--small капуста, огурцы, томат, морковь
							p.table-calories__col.table-calories__col--small клюква, яблоки, абрикосы, киви
							p.table-calories__col.table-calories__col--small молоко, кефир
							p.table-calories__col.table-calories__col--small телятина
							p.table-calories__col.table-calories__col--small креветки
							p.table-calories__col.table-calories__col--small гречка
						.table-calories__row
							p.table-calories__col.table-calories__col--small
								span
									span.bold умеренная 
									| 100-199 кКал
							p.table-calories__col.table-calories__col--small картофель, свекла
							p.table-calories__col.table-calories__col--small виноград, авокадо
							p.table-calories__col.table-calories__col--small ряженка, нежирный, творог
							p.table-calories__col.table-calories__col--small кролик, курица, яйца, говядина
							p.table-calories__col.table-calories__col--small судак, минтай, щука, карп
							p.table-calories__col.table-calories__col--small рис, кус-кус, овсянка
						.table-calories__row
							p.table-calories__col.table-calories__col--small
								span
									span.bold большая 
									| 200-400 кКал
							p.table-calories__col.table-calories__col--small горох, сушеные грибы, орехи
							p.table-calories__col.table-calories__col--small изюм, курага
							p.table-calories__col.table-calories__col--small сливки, сметана сыр
							p.table-calories__col.table-calories__col--small сосиски, свинина, утки и гуси
							p.table-calories__col.table-calories__col--small семга, сайра, сайга, сельдь
							p.table-calories__col.table-calories__col--small хлеб, макароны, манка, фасоль
			.article__wrap
				h4.article__ttl Самый важный компонент рецепта стройности — питание.
					br
					| Это 70% успеха.
				.article__desc
					p.article__text.mb Для достижения результата вам очень важно питаться здорово и регулярно. Исключите готовые соусы, майонез, мучное и сладкое.
					.article__nutrition-wrap.mb
						.article__nutrition-item.nutrition-item
							p.nutrition-item__ttl Затрак. Расчет ккал на 100 гр.
							.nutrition-item__list
								.nutrition-item__point
									img.nutrition-item__point-img(src="img/nutrition_1_1.png", alt="")
									p.nutrition-item__point-text Овсяная каша на воде с ягодами 103&nbsp;ккал
								.nutrition-item__point
									img.nutrition-item__point-img(src="img/nutrition_1_2.png", alt="")
									p.nutrition-item__point-text Омлет с овощами 156&nbsp;ккал
								.nutrition-item__point
									img.nutrition-item__point-img(src="img/nutrition_1_3.png", alt="")
									p.nutrition-item__point-text Творожная запеканка с курицей 176&nbsp;ккал
						.article__nutrition-item.nutrition-item
							p.nutrition-item__ttl Обед. Выберите одно блюдо:
							.nutrition-item__list
								.nutrition-item__point
									img.nutrition-item__point-img(src="img/nutrition_2_1.png", alt="")
									p.nutrition-item__point-text Гречневый суп с курицей 53 ккал
								.nutrition-item__point
									img.nutrition-item__point-img(src="img/nutrition_2_2.png", alt="")
									p.nutrition-item__point-text Белая рыба с рисом 189 ккал
								.nutrition-item__point
									img.nutrition-item__point-img(src="img/nutrition_2_3.png", alt="")
									p.nutrition-item__point-text Отварная говядина с тушеными овощами 106 ккал
						.article__nutrition-item.nutrition-item
							p.nutrition-item__ttl Ужин на выбор:
							.nutrition-item__list
								.nutrition-item__point
									img.nutrition-item__point-img(src="img/nutrition_3_1.png", alt="")
									p.nutrition-item__point-text Паровые котлеты из птицы 87 ккал
								.nutrition-item__point
									img.nutrition-item__point-img(src="img/nutrition_3_2.png", alt="")
									p.nutrition-item__point-text Отварное белое мясо и рагу 124 ккал
								.nutrition-item__point
									img.nutrition-item__point-img(src="img/nutrition_3_3.png", alt="")
									p.nutrition-item__point-text Белая рыба, в фольге, совощами 86 ккал
					p.article__text.article__text--quote Если трудно сразу поменять рацион — наши эксперты рекомендуют начать хотя бы с правильного завтрака. А после пересмотреть любимые блюда и оставить только здоровые.
			.article__wrap
				h4.article__ttl Наши психологи часто сталкиваются проблемой зависимости от сладкого 
				.article__desc
					p.article__text И уверяют, что похудение не должно приносить страданий. Если хочется шоколадной конфеты или тортика — его можно съесть, но только 1 раз в неделю. Исключать углеводы не стоит. Это ваша энергия. Фрукты тоже содержат натуральный сахар. Потому не стоит ими злоупотреблять.
					p.article__text.article__text--quote Помните, что БАДы ускоряют метаболизм, сжигание подкожного жира, уменьшают чувство голода и помогают достичь результата 
						span в 2 раза быстрее.
					ul.article__list.list-step.mt.mb
						li.list-step__item Сократить порцию удастся, если тарелка будет поменьше. В нее много не положите, а психологически будет ощущение, что вы съели целую тарелку.
						li.list-step__item Синий цвет посуды приглушает чувство голода. Считается, что он самый не аппетитный и не провоцирует желание добавить.
						li.list-step__item Если накрасить губы красной помадой перед приемом пищи, то прием пищи будет медленнее, меньшими кусочками, придется дольше пережевывать, а значит насыщение придет быстрее.
						li.list-step__item Если на талии завязать ленточку, то объем порции тоже удастся уменьшить.
					p.article__text.article__text--quote Это небольшие психологические приемы наших экспертов, которые уже доказали свою эффективность

