section.article
	.container
		h1.article__title 5 шагов к здоровью сердечно сосудистой&nbsp;системы
		img.article__photo-main(src="img/article-main-5.jpg", alt="")
		.article__content
			p.article__text-main По данным ВОЗ на конец 2020 года гипертония имеется у 1,13 миллиарда человек в мире. 2 из 5-ти не знают о своём диагнозе. И только каждый 10-й гипертоник получает лечение. 
			.article__wrap
				h4.article__ttl Чем опасна артериальная гипертония?
				.article__desc
					p.article__text Артериальная гипертония сопровождается неприятными симптомами:
					ul.article__list.list-art.mt.mb
						li.list-art__item головными болями;
						li.list-art__item шумом в ушах;
						li.list-art__item «мушками» перед глазами;
						li.list-art__item нарушением сердечного ритма;
						li.list-art__item одышкой и болями в области сердца.
					p.article__text Гипертония — основной фактор риска развития инфаркта миокарда, инсульта и сердечной недостаточности. Опасность представляет как повышение «верхнего» (систолического), так и «нижнего» (диастолического) давления.
			.article__wrap
				h4.article__ttl До каких цифр надо снижать артериальное давление?
				.article__desc
					p.article__text Для каждого человека норма артериального давления, при которой он хорошо себя чувствует — разная. В среднем этот показатель составляет 120/80 мм рт. ст. Это зависит от возраста и индивидуальных особенностей организма. Согласно принятым стандартам ВОЗ, давление выше 140/90 мм рт. ст. характеризуется диагнозом «гипертония». 
			.article__wrap
				h4.article__ttl Зачем контролировать работу сердечно-сосудистой системы?
				.article__desc
					p.article__text Это поможет не допустить серьезных нарушений и вовремя принять меры. Рекомендуем начать прием средств на растительной основе, поддерживающих здоровье сердца и сосудов, вести «дневник здоровья» и фиксировать показания тонометра. Как правильно измерять давление, вы узнаете в этой брошюре.
			.article__wrap
				h4.article__ttl 5 шагов к здоровью сердечно-ісосудистой системы
				.article__desc
					ul.article__list.list-step.mt
						li.list-step__item
							span.bold Возьмите гипертонию под контроль 
							br
							| Измеряйте давление 2 раза в сутки (утром и вечером)
						li.list-step__item
							span.bold Регулярно принимайте средства на растительной основе 
							br
							| Делайте отметки после каждого приема 
						li.list-step__item
							span.bold Контролируйте вес, сахар и холестерин 
							br
							| Следите за питанием и используйте специальную диету
						li.list-step__item
							span.bold Забудьте о давлении и больше гуляйте 
							br
							| Ходите пешком не менее 30-40 минут в день
						li.list-step__item
							span.bold Дышите полными легкими и живите свободно
							br
							| Используйте дыхательные упражнения для снижения артериального давления
			.article__wrap
				h4.article__ttl Гипертонию не зря называют «тихим убийцей». 
				.article__desc
					p.article__text Заболевание очень коварное и крайне важно его не только вовремя распознать, но и правильно бороться с недугом.
					p.article__text Особенность терапии заключается не только в регулярном приеме специальных таблеток. Важно вести здоровый образ жизни, правильно питаться и придерживаться диеты, следить за показателями своего здоровья, выполнять дыхательную гимнастику и контролировать свой вес.
					p.article__text Прислушайтесь к своему телу: обращайте внимание на все симптомы, ведь намного лучше распознать болезнь на раннем этапе развития и не допустить ее усугубления.
					p.article__text Благодаря следованию простым правилам этого журнала и постоянному контролю вам будет намного легче следить за своим здоровьем. Вся информация направлена на то, чтобы вы могли привести состояние сердечно-сосудистой системы в норму, предупредить возникновение нарушений и комплексно поддерживать ее здоровье.
					p.article__text.p.article__text--quote Контроль здоровья и поддержка организма помогут прожить долгую и счастливую жизнь!

