section.article
	.container
		h1.article__title Как следует заполнять дневник здоровья
		img.article__photo-main(src="img/article-main-12.jpg", alt="")
		.article__content
			p.article__text-main Мысль рождает действие, действие - привычку, привычка - характер, характер - судьбу! Ваша новая судьба — стройность!
			.article__wrap
				h4.article__ttl Вводим новые привычки
				.article__desc
					p.article__text.mb Для удобства вы можете вырезать эту табличку и закрепить ее на холодильнике, чтобы она была перед глазами.
					.article__table-habits.table-habits
						.table-habits__row.table-habits__row--title
							p.table-habits__col.table-habits__col--1 №
							p.table-habits__col.table-habits__col--2 Привычка
							p.table-habits__col.table-habits__col--3 1 день
							p.table-habits__col.table-habits__col--3 2 день
							p.table-habits__col.table-habits__col--3 3 день
							p.table-habits__col.table-habits__col--3 4 день
							p.table-habits__col.table-habits__col--3 5 день
							p.table-habits__col.table-habits__col--3 6 день
							p.table-habits__col.table-habits__col--3 7 день
						.table-habits__row
							p.table-habits__col.table-habits__col--1 1
							p.table-habits__col.table-habits__col--2 Стакан воды с утра
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
						.table-habits__row
							p.table-habits__col.table-habits__col--1 2
							p.table-habits__col.table-habits__col--2 Запекаю/варю вместо обжарки
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
						.table-habits__row
							p.table-habits__col.table-habits__col--1 3
							p.table-habits__col.table-habits__col--2 Чай/кофе БЕЗ сахара
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
						.table-habits__row
							p.table-habits__col.table-habits__col--1 4
							p.table-habits__col.table-habits__col--2 Ем медленно
							p.table-habits__col.table-habits__col--3 
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
						.table-habits__row
							p.table-habits__col.table-habits__col--1 5
							p.table-habits__col.table-habits__col--2 Пью воду за 30 минут до еды и через 2 часа после
							p.table-habits__col.table-habits__col--3 
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
						.table-habits__row
							p.table-habits__col.table-habits__col--1 6
							p.table-habits__col.table-habits__col--2 +1 день без хлеба, соусов и сладостей
							p.table-habits__col.table-habits__col--3 
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
						.table-habits__row
							p.table-habits__col.table-habits__col--1 7
							p.table-habits__col.table-habits__col--2 Прогулялась вечером 30 минут пешком
							p.table-habits__col.table-habits__col--3 
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
						.table-habits__row
							p.table-habits__col.table-habits__col--1 8
							p.table-habits__col.table-habits__col--2 Отказалась от перекусов
							p.table-habits__col.table-habits__col--3 
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
						.table-habits__row
							p.table-habits__col.table-habits__col--1 9
							p.table-habits__col.table-habits__col--2 Заменила крупу на овощной салат
							p.table-habits__col.table-habits__col--3 
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
						.table-habits__row
							p.table-habits__col.table-habits__col--1 10
							p.table-habits__col.table-habits__col--2 Ложусь спать в 22.00. Спокойной ночи!
							p.table-habits__col.table-habits__col--3 
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
							p.table-habits__col.table-habits__col--3
			.article__wrap
				h4.article__ttl Как следует заполнять дневник
				.article__desc
					p.article__text Наши специалисты подготовили для Вас тестовую неделю, чтобы новые привычки мягко вошли в вашу жизнь.
					p.article__text Дальше вас ждет месяц работы над лучшей версией себя. Вы будете вести дневник, куда будет необходимо вписывать все:
					.article__info.mb
						.factor
							.factor__photo-wrap
								i.fico.fico-habit1
							p.factor__text приемы пищи
						.factor
							.factor__photo-wrap
								i.fico.fico-habit2
							p.factor__text физические нагрузки 
						.factor
							.factor__photo-wrap
								i.fico.fico-habit3
							p.factor__text выпитые стаканы воды
						.factor
							.factor__photo-wrap
								i.fico.fico-habit4
							p.factor__text приемы БАДов
					p.article__text Это очень удобный формат, чтобы не нужно было держать все в голове, а вы могли расслабиться и только ставить галочки за выполнение.
					p.article__text Вы также можете использовать его как карту рациона. Спланированный прием пищи позволяет увидеть меню на целый день и заблаговременно избежать ненужных перекусов.
			.article__wrap
				.article__qr-code.qr-code
					.qr-code__left
						p.qr-code__title Если у вас возникнут дополнительные вопросы, сложности в этот период — наши специалисты с радостью ответят на них в чате
						p.qr-code__label Наведите камеру на QR-код и пообщайтесь с нашим экспертом
					img.qr-code__photo(src="img/qr.png", alt="")
			.article__wrap
				p.article__text.article__text--quote И не забудьте сделать фото ДО и ПОСЛЕ. Вы будете приятно удивлены результатом!