section.article
	.container
		h1.article__title Опасные заболевания органов зрения
		img.article__photo-main(src="img/article-main-13.jpeg", alt="")
		.article__content
			p.article__text-main Наша цель — показать, как легко и без усилий можно нормализовать работу органов зрения и улучшить ваше качество жизни.
			.article__wrap
				h4.article__ttl Строение глаза
				.article__desc.article__desc--image
					img(src="img/eye_structure.jpg", alt="eye_structure")
			.article__wrap
				h4.article__ttl Факторы ухудшения зрения
				.article__desc
					p.article__title-calendar Врожденные:
					ul.article__list.list-art
						li.list-art__item Заболевания носоглотки
						li.list-art__item Генетическая предрасположенность
						li.list-art__item Нарушения опорно-двигательного аппарата
						li.list-art__item Поражение сетчатки
			.article__wrap
				p.article__title-calendar Приобретенные:
				ul.article__list.list-art
					li.list-art__item Зрительная нагрузка
					li.list-art__item Вредные привычки
					li.list-art__item Нарушения сна
					li.list-art__item Стресс
			.article__wrap
				h4.article__ttl Опасные заболевания органов зрения
				.article__desc
					p.article__text По официальным данным ВОЗ в мире насчитывается не менее 2,2 миллиарда случаев нарушения зрения или слепоты, причем более 1 миллиарда из них являются следствием отсутствия профилактики или лечения.*
					ul.article__list.list-art.mt.mb
						li.list-art__item Дальнозоркость 4,2%
						li.list-art__item Блефарит 1,2%
						li.list-art__item Близорукость 3,3%
						li.list-art__item Глаукома 12,3%
						li.list-art__item Макулодистрофия 17,8%
						li.list-art__item Увеит 13,3%
						li.list-art__item Катаракта 47,9%
					p.article__text *Процентное соотношение степени распространенности недугов согласно Международной классификации заболеваний
			.article__wrap
				h4.article__ttl В чем главная особенность этих заболеваний?
				.article__desc
					p.article__text Игнорировать ухудшение зрения невозможно, иначе это угрожает развитием более серьезных проблем:
					ul.article__list.list-art.mt.mb
						li.list-art__item синдром “сухого глаза”;
						li.list-art__item отслойка сетчатки;
						li.list-art__item глаукома или катаракта;
						li.list-art__item диабетическая ретинопатия или полная слепота.
					p.article__text.article__text--quote Чтобы предотвратить эти последствия, регулярно проходите профилактические обследования и комплексно поддерживайте ! качество зрения при помощи приема натуральных комплексов.
			.article__wrap
				h4.article__ttl Легкий тест на определение проблем со зрением
				.article__desc
					p.article__text.article__text--quote.mb Тест Амслера используется в исследовании остроты зрения. Благодаря простоте этого метода, он может применяться не только во время консультации окулиста, но и самостоятельно.
					.article__test.mb
						img(src="img/svg/test-eye.svg", alt="")
						p.article__text Чтобы выполнить тест Амслера, поместите лист с нарисованной на нем решеткой в 30 см от глаз.
					p.article__text.mb Прикройте один глаз ладонью (не надавливая на него) и посмотрите вторым глазом на находящуюся в центре квадрата точку в течение нескольких секунд. Повторите эксперимент, закрыв ладонью второй глаз, и снова смотрите на эту точку на протяжении нескольких секунд.
					img.article__image(src="img/svg/eye-test_1.svg", alt="")
			.article__wrap
				h4.article__ttl Результаты тестирования
				.article__desc
					.article__test.mb
						img(src="img/svg/eye-test_1.svg", alt="")
						p.article__text Если все линии, расположенные на сетке Амслера, выглядят ровно и не имеют никаких искажений, то это говорит об отсутствии патологии глазной сетчатки. Вам рекомендованы только ежегодные плановые осмотры у окулиста. Так выглядит сетка Амслера с нормальным полем зрения в центре
					.article__test.mb
						img(src="img/svg/eye-test_2.svg", alt="")
						p.article__text Если же эти линии выглядят неровно, присутствуют искажения в любом месте, то нужно немедленно обратиться к врачу.
					p.article__text.article__text--quote Внимание! Данный тест, не является полноценным обследованием органов зрения. Чтобы поставить точный диагноз, необходимо обратиться к квалифицированному врачу-окулисту для всестороннего обследования.
			.article__wrap
				h4.article__ttl Общие рекомендации по питанию для людей с нарушением зрения
				.article__desc
					p.article__text Основой рациона должны стать мясо и рыба, овощи и фрукты.
					p.article__text Также постарайтесь соблюдать следующие принципы:
					ul.article__list.list-art.mt.mb
						li.list-art__item умеренность (небольшие размеры порций);
						li.list-art__item легкоусвояемость (простая, минимально обработанная пища);
						li.list-art__item витаминизация (особенно наличие в еде витаминов А, Е, С).
			.article__wrap
				h4.article__ttl Запрещенные продукты
				.article__desc
					ul.article__list.list-product.mt
						li.list-product__item
							.list-product__wrap-photo
								img.list-product__photo(src="img/svg/product_1.svg", alt="")
							p.list-product__text
								span Кофе
								| Действие кофеина приводит к повышению общего артериального давления и давления внутри глаза, что может спровоцировать развитие глаукомы.
						li.list-product__item
							.list-product__wrap-photo
								img.list-product__photo(src="img/svg/product_2.svg", alt="")
							p.list-product__text
								span Соль
								| ВОЗ рекомендует употреблять не более 5 г соли в день. Превышение этой нормы чревато задержкой жидкости и повышением давления, что может стать причиной катаракты.
						li.list-product__item
							.list-product__wrap-photo
								img.list-product__photo(src="img/svg/product_3.svg", alt="")
							p.list-product__text
								span Сахар
								| Повышенное содержание сахара в крови провоцирует стремительное ухудшение зрения и развитие серьезных патологий.
						li.list-product__item
							.list-product__wrap-photo
								img.list-product__photo(src="img/svg/product_4.svg", alt="")
							p.list-product__text
								span Алкоголь
								| При злоупотреблении спиртным нарушается кровоснабжение сосудистой оболочки глаза, в результате может возникнуть спазм сосудов.
						li.list-product__item
							.list-product__wrap-photo
								img.list-product__photo(src="img/svg/product_5.svg", alt="")
							p.list-product__text
								span Жирная пища
								| Повышенное содержание вредного холестерина приводит к закупорке артериальных сосудов. Повышается риск тромбоза и инсульта глаза.