section.article
	.container
		h1.article__title Приборы для измерение артериального давление
		img.article__photo-main(src="img/article-main-6.jpg", alt="")
		.article__content
			p.article__text-main Механические тонометры требуют участия стороннего человека и дают точные показания лишь в том случае, если измерения проводятся профессионалом. Автоматические и полуавтоматические приборы удобные и безопасные, но могут искажать показания в случае проблем с сердечно-сосудистой системой, а потому требуют повторных измерений. 
			.article__wrap
				h4.article__ttl Как измерять артериальное давление?
				.article__desc
					ul.article__list.list-art.mt.mb
						li.list-art__item  Измеряют АД в спокойных условиях после 5-минутного отдыха. 
						li.list-art__item  Старайтесь избегать дополнительных внешних воздействий (шум, вибрация и т.д.), которые могут исказить цифры АД и помешать четко слышать «тоны Короткова».
						li.list-art__item  В течение часа перед измерением АД нельзя курить и употреблять кофе, после последнего приема пищи должно пройти не менее 1-2 часов.
						li.list-art__item  Оптимальная поза: сидя на стуле, опираясь на спинку, с расслабленными и не скрещенными ногами. 
						li.list-art__item  Размер манжеты тонометра должен соответствовать окружности плеча: охватывать не менее 80 % окружности и не менее 40 % длины вашего плеча. 
						li.list-art__item  Середина баллона манжеты должна находиться над плечевой артерией. Нижний край манжеты должен быть на 2-3 см выше локтевой ямки. Между манжетой и поверхностью плеча должен проходить палец. 
						li.list-art__item  Середина манжеты должна находиться на уровне груди. 
						li.list-art__item  Рука, на которой вы производите измерения АД, должна быть свободна от одежды.
						li.list-art__item  Мембрана стетоскопа должна плотно прилегать к поверхности плеча в месте максимальной пульсации плечевой артерии. Головка стетоскопа не должна касаться манжеты или трубок. 
						li.list-art__item  Во время измерения АД вы не должны разговаривать. 
						li.list-art__item  Нагнетание воздуха в манжету должно быть быстрым, выпускание — медленным (2 мм рт. ст. в одну сек.). Повторное нагнетание воздуха в манжету недопустимо.
						li.list-art__item  При измерении автоматическим прибором достаточно нажать кнопку «старт».
					p.article__text.article__text--quote ДОПУСТИМЫЙ ПРЕДЕЛ АРТЕРИАЛЬНОГО ДАВЛЕНИЯ - 
						span 140/90 ММ. РТ СТ.
						br
						| НОРМА ОБЩЕГО ХОЛЕСТЕРИНА В КРОВИ - 
						span 5,2 ММОЛЬ/Л.
						br
						| НОРМА ГЛЮКОЗЫ (САХАРА) - 
						span НАТОЩАК 5,5 ММОЛЬ/Л.
			.article__wrap
				h4.article__ttl Возьмите гипертонию под контроль
				.article__table.table
					.table__row.table__row--title
						.table__col.table__col--1 Дата
						.table__col.table__col--2 Время
						.table__col.table__col--3 А/Д
						.table__col.table__col--4 Пульс
						.table__col.table__col--5 Самочувствие*
					.table__row
						.table__col.table__col--1
						.table__col.table__col--2 утро/
						.table__col.table__col--3 /
						.table__col.table__col--4
						.table__col.table__col--5
					.table__row
						.table__col.table__col--1
						.table__col.table__col--2 вечер/
						.table__col.table__col--3 /
						.table__col.table__col--4
						.table__col.table__col--5
					.table__row
						.table__col.table__col--1
						.table__col.table__col--2 утро/
						.table__col.table__col--3 /
						.table__col.table__col--4
						.table__col.table__col--5
					.table__row
						.table__col.table__col--1
						.table__col.table__col--2 вечер/
						.table__col.table__col--3 /
						.table__col.table__col--4
						.table__col.table__col--5
					.table__row
						.table__col.table__col--1 ...
						.table__col.table__col--2 
						.table__col.table__col--3 
						.table__col.table__col--4
						.table__col.table__col--5
				.article__table-label *Выберите нужную цифру и внесите в графу: 1 — головная боль, 2 — слабость, 3 — головокружение.
			.article__wrap
				h4.article__ttl Регулярно принимайте средства на растительной основе, поддерживающие здоровье сердца и сосудов
				p.article__title-calendar календарь приема
				.article__calendar.calendar
					.calendar__item
						p.calendar__ttl 1 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 2 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 3 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 4 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 5 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 6 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 7 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 8 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 9 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 10 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 11 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 12 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 13 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 14 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 15 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 16 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 17 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point
					.calendar__item
						p.calendar__ttl 18 день
						.calendar__col
							.calendar__point
							.calendar__point
							.calendar__point