section.article
	.container
		h1.article__title Советы экспертов
		img.article__photo-main(src="img/article-main-15.jpg", alt="")
		.article__content
			.article__wrap
				.article__desc
					p.article__text.article__text--quote Вот несколько практических советов, придерживаясь которых, вы сможете сохранить здоровье органов зрения.
					ul.article__list.list-product.mt
						li.list-product__item
							.list-product__wrap-photo
								img.list-product__photo(src="img/svg/advice_1.svg", alt="")
							p.list-product__text
								span Здоровый вес
								| Держите вес в пределах нормы. Избыточный вес или ожирение увеличивают риск развития диабета.
						li.list-product__item
							.list-product__wrap-photo
								img.list-product__photo(src="img/svg/advice_2.svg", alt="")
							p.list-product__text
								span Физическая активность
								| Упражнения могут помочь предотвратить или контролировать диабет, высокое кровяное давление и высокий уровень холестерина.
						li.list-product__item
							.list-product__wrap-photo
								img.list-product__photo(src="img/svg/advice_3.svg", alt="")
							p.list-product__text
								span Защита от солнца
								| Воздействие солнца может повредить глаза, повысить риск катаракты или дегенерации желтого пятна. Для защиты глаз используйте солнцезащитные очки.
						li.list-product__item
							.list-product__wrap-photo
								img.list-product__photo(src="img/svg/advice_4.svg", alt="")
							p.list-product__text
								span Гигиена контактных линз
								| Тщательно вымойте руки перед тем, как надеть или снять контактные линзы. Для очищения каждого глаза используйте отдельный ватный диск.
						li.list-product__item
							.list-product__wrap-photo
								img.list-product__photo(src="img/svg/advice_5.svg", alt="")
							p.list-product__text
								span Отдых
								| Чтобы уменьшить утомляемость глаз, попробуйте правило 20-20-20: каждые 20 минут отводите взгляд на 20 сантиметров перед собой на 20 секунд.
						li.list-product__item
							.list-product__wrap-photo
								img.list-product__photo(src="img/svg/advice_6.svg", alt="")
							p.list-product__text
								span Прием добавок
								| Регулярный прием добавок и витаминных комплексов снижает риск развития заболеваний глаз.
			.article__wrap
				h4.article__ttl Польза гимнастики для глаз
				.article__desc
					p.article__text Прежде, чем ознакомиться с перечнем наиболее эффективных упражнений для органов зрения, нужно помнить, что регулярное их выполнение помогает:
					ul.article__list.list-art.mb
						li.list-art__item понизить уровень стресса и расслабиться;
						li.list-art__item улучшить память и расширить возможности мозга;
						li.list-art__item снять усталость;
						li.list-art__item улучшить зрение;
						li.list-art__item стимулировать работу слезных каналов.
					p.article__text Изучить несложные комплексы упражнений под силу каждому, на их выполнение вам потребуется всего 5-10 минут в день.
			.article__wrap
				h4.article__ttl Когда делать гимнастику
				.article__desc
					p.article__text Более сложные комплексы упражнений стоит выполнять два раза — утром и вечером. Между ними, в течение дня, нужно делать более простую гимнастику. Достаточно даже отвести взгляд от компьютерного монитора и поморгать в течение 10-15 секунд.
			.article__wrap
				h4.article__ttl Противопоказания
				.article__desc
					p.article__text.mb Возможны ситуации, когда упражнения для глаз делать нельзя. Основные противопоказания:
					ul.article__list.list-art
						li.list-art__item воспалительные заболевания глаз, например, конъюнктивит и блефарит;
						li.list-art__item отслоение сетчатки;
						li.list-art__item неврологические заболевания;
						li.list-art__item нарушение работы глазодвигательных мышц.
			.article__wrap
				h4.article__ttl Фитнес для глаз за 10 мин./день
				.article__desc
					.exercise-item
						.exercise-item__photo-wrap
							img.exercise-item__photo.exercise-item__photo--min(src="img/svg/exercise_1.svg", alt="")
						p.exercise-item__text Выполняйте горизонтальные движения глазами по направлению вправо-влево.
					.exercise-item
						.exercise-item__photo-wrap
							img.exercise-item__photo.exercise-item__photo--min(src="img/svg/exercise_2.svg", alt="")
						p.exercise-item__text Выполняйте вертикальные движения глазами по направлению вверх-вниз.
					.exercise-item
						.exercise-item__photo-wrap
							img.exercise-item__photo.exercise-item__photo--min(src="img/svg/exercise_3.svg", alt="")
						p.exercise-item__text Выполняйте движение глазами по кругу, сначала по часовой стрелке, а после — против нее.
					.exercise-item
						.exercise-item__photo-wrap
							img.exercise-item__photo.exercise-item__photo--min(src="img/svg/exercise_4.svg", alt="")
						p.exercise-item__text Выполняйте быстрые движения, закрывая и открывая веки, чтобы снять напряжение глаз после длительной концентрации на предмете, чтения или работы за экраном монитора.
					.exercise-item
						.exercise-item__photo-wrap
							img.exercise-item__photo.exercise-item__photo--min(src="img/svg/exercise_5.svg", alt="")
						p.exercise-item__text Выполняйте движение глазами по диагонали. Сначала посмотрите в левый нижний угол, потом по-прямой переведите взгляд наверх. Выполните аналогичные движения в противоположном направлении.
					.exercise-item
						.exercise-item__photo-wrap
							img.exercise-item__photo.exercise-item__photo--min(src="img/svg/exercise_6.svg", alt="")
						p.exercise-item__text Выполняйте интенсивное сжатие и закрытие век в быстром темпе до полного расслабления глазных мышц. Повторяйте ежедневно.
					.exercise-item
						.exercise-item__photo-wrap
							img.exercise-item__photo.exercise-item__photo--min(src="img/svg/exercise_7.svg", alt="")
						p.exercise-item__text Сведение глаз к носу. Для этого к переносице поднесите палец и посмотрите на него — глаза легко “соединятся”. Далее посмотрите прямо.
					.exercise-item
						.exercise-item__photo-wrap
							img.exercise-item__photo.exercise-item__photo--min(src="img/svg/exercise_8.svg", alt="")
						p.exercise-item__text Работа глаз “на расстояние”. Подойдите к окну, внимательно посмотрите на близкую, хорошо видимую деталь. Например, ветку дерева, что растет за окном. Потом направьте взгляд вдаль, стараясь увидеть максимально отдаленный предмет.
					.exercise-item
						.exercise-item__photo-wrap
							img.exercise-item__photo.exercise-item__photo--min(src="img/svg/exercise_9.svg", alt="")
						p.exercise-item__text Слежка. Данное упражнение лучше всего выполнять на улице или на балконе. Выберите любой движущийся объект и просто следите за ним при помощи одного лишь взгляда. Повторяйте каждый раз, когда будете ощущать усталость глаз.
					.exercise-item
						.exercise-item__photo-wrap
							img.exercise-item__photo.exercise-item__photo--min(src="img/svg/exercise_10.svg", alt="")
						p.exercise-item__text Медленно переводите взгляд с пола на потолок в положении сидя. Повторите переведение взгляда в обратном направлении.
			.article__wrap
				p.article__text.article__text--quote Комплекс простых упражнений для снятия напряжения глаз и сохранения остроты зрения. Повторять ежедневно не менее 6 раз в каждом направлении.
			.article__wrap
				h4.article__ttl Точечный массаж для здоровья глаз
				.article__desc
					p.article__text Массаж глаз — одна из методик по восстановлению зрения, которую можно проводить самостоятельно в домашних условиях.
					p.article__text.mb Точечный массаж способствует:
					ul.article__list.list-art
						li.list-art__item улучшению кровотока и циркуляции лимфы;
						li.list-art__item укреплению глазной мускулатуры;
						li.list-art__item отдыху усталых глаз.
					img.article__image.mb(src="img/massage.png", alt="")
					p.article__text Массаж делаем подушечками указательных или больших пальцев рук с легкой силой надавливания. Нажимать на точки надо ритмично, кончики пальцев должны производить круговые движения по часовой стрелке с радиусом вращения в 1-2 мм.
					p.article__text.mb Рекомендуем выполнять массаж в описанной последовательности 
						span.article__text--bold 2 раза в день - утром и вечером. 
						| Это поддерживает здоровье глаз.
					ul.article__list.list-art.mb
							li.list-art__item
								span Точка 1 (тиан-инг)
								br
								| Массируйте на протяжении 8 вдохов - выдохов. При выдохе следует легко или со средним усилием нажимать на точки, при вдохе - продолжать вращение без нажима. Кончики свободных пальцев должны легко касаться лба.
							li.list-art__item
								span Точка 2 (инг-минг)
								br
								| Найдите точки 2, как показано на рисунке. Ритмично надавливайте на протяжении 8 вдохов-выдохов двумя большими пальцами или большим и указательным пальцами одной руки по бокам переносицы.
							li.list-art__item
								span Точка 3 (си-бай)
								br
								| Нащупайте точки 3. Они расположены на нижней окружности глазниц под зрачками. Проделывайте массаж на протяжении 8 вдохов-выдохов. Нажатие на эти точки может снять физическое, нервное и умственное переутомление, зубную боль и облегчить течение гайморита. Сделайте небольшую паузу на несколько секунд, чтобы почувствовать действие массажа.
							li.list-art__item
								span Точка 4 (тай-янг)
								br
								| Костяшками согнутых указательных пальцев совершайте движения над глазами: начните от переносицы, далее проведите пальцы под бровями, потом обратно (снова над глазами) по направлению к кончику носа, и вновь повторите движение от переносицы. Сделайте 8 таких движений.
					p.article__text После массажа на некоторое время закройте глаза ладонями. Попробуйте ощутить положительное действие массажа.
					p.article__text.article__text--quote Массаж не рекомендуется выполнять при острых болях. Перед ! выполнением проконсультируйтесь с вашим лечащим врачом.