section.article
	.container
		h1.article__title Нормальный вес и его преимущества
		img.article__photo-main(src="img/article-main-9.jpg", alt="")
		.article__content
			p.article__text-main Как показывает статистика, позитивное мышление помогает в достижении результатов в&nbsp;3&nbsp;раза быстрее.
			.article__wrap
				h4.article__ttl Ключевые преимущества нормального веса:
				.article__desc
					ul.article__list.list-art.mt
						li.list-art__item Здоровый внешний вид;
						li.list-art__item Бодрость и энергичность;
						li.list-art__item Хорошее эмоциональное и физическое самочувствие;
						li.list-art__item Здоровое сердце, суставы и чистая кожа;
						li.list-art__item Улучшения в личной жизни;
						li.list-art__item Новые полезные пищевые привычки;
						li.list-art__item Внимание окружающих;
						li.list-art__item Легкость на подъем, а с ней — новые возможности;
			.article__wrap
				h4.article__ttl Почему с возрастом нужно потреблять меньше калорий? Это связано с&nbsp;замедлением обмена веществ.
				.article__desc
					p.article__text Всемирная организация здравоохранения рекомендует уже с 35-ти лет снижать суточную норму на 150 кКал каждые 10 лет. Так вы можете мягко и безболезненно защитить себя от ожирения.
					p.article__text  Также увеличение веса у женщин связано с менопаузой. Возрастные изменения гормонального фона могут повлиять на набор веса. Это особенно заметно в области талии.
			.article__wrap
				h4.article__ttl Важно знать, какие последствия могут понести за собой лишние килограммы
				.article__desc
					p.article__text Люди с избыточным весом часто жалуются на такие проблемы как:
					.article__info.article__info--big.mt
						.factor
							.factor__photo-wrap
								i.fico.fico-consequences1
							p.factor__text Гипертония
						.factor
							.factor__photo-wrap
								i.fico.fico-consequences2
							p.factor__text Атеросклероз
						.factor
							.factor__photo-wrap
								i.fico.fico-consequences3
							p.factor__text Стенокардия
						.factor
							.factor__photo-wrap
								i.fico.fico-consequences4
							p.factor__text Диабет
						.factor
							.factor__photo-wrap
								i.fico.fico-consequences5
							p.factor__text Депрессия
						.factor
							.factor__photo-wrap
								i.fico.fico-consequences6
							p.factor__text Инсульт
						.factor
							.factor__photo-wrap
								i.fico.fico-consequences7
							p.factor__text Онкология
						.factor
							.factor__photo-wrap
								i.fico.fico-consequences8
							p.factor__text Артрит
			.article__wrap
				h4.article__ttl Три года исследований наших опытных специалистов:
				.article__desc
					ul.article__list.list-art.mb
						li.list-art__item диетологов
						li.list-art__item эндокринологов
						li.list-art__item косметологов
						li.list-art__item психологов
						li.list-art__item нутрициологов
						li.list-art__item нутрициологов
					p.article__text помогли досконально изучить проблему. Мы искали не только методы борьбы с избыточным весом, но и как можно повлиять на его первопричину.
					p.article__text.article__text--quote 
						span Что диктует 
						| наши пищевые привычки?
						br
						span  Что влияет 
						| на срывы в еде, чувство насыщения и голода?
						br
						span От чего зависит 
						| набор веса в целом?
					p.article__text Наши профессионалы разработали комплексный подход, который работает с внутренними процессами организма и внешне над рельефом тела. Ведь хороший метаболизм не гарантирует уменьшение целлюлита. А чувство сытости не всегда подконтрольно людям с пищевыми расстройствами. 
					p.article__text.article__text--quote Достичь результат можно только, подойдя к похудению грамотно и всесторонне.
			.article__wrap
				h4.article__ttl Важно помнить, что вес зависит не только от калорий
				.article__desc
					p.article__text Что врачи рекомендуют соблюдать на пути к стройности:
					ul.article__list.list-step.mt
						li.list-step__item
							span.bold Употреблять достаточное количество чистой воды
							br
							| Она запускает ЖКТ, обеспечивает мягкий детокс и помогает снизить калораж пищи.
						li.list-step__item
							span.bold Использовать пищевые добавки
							br
							| Натуральные пищевые добавки помогут запустить замедлившийся метаболизм и наладить пищеварение. Они незаменимы при похудении, ведь лишний вес будет уходить в два раза быстрее, мягче и без стресса.
						li.list-step__item
							span.bold Следить за здоровым и регулярным питанием
							br
							| Ученые уже более десятка лет доказывают ощутимые недостатки голоданий. После сильных ограничений в еде организм начнет “запасаться” на случай голода. Потому важно, чтобы рацион был сбалансированным.
						li.list-step__item
							span.bold Регулярно заниматься физической активностью
							br
							| Даже самые легкие нагрузки способствуют ускорению метаболизма, кожа подтягивается, повышается тонус мышц, а суставы становятся здоровее.
						li.list-step__item
							span.bold Быть уверенной в результате
							br
							| Важно верить в свои возможности. Под лежачий камень вода не течет.
						li.list-step__item
							span.bold Стараться засыпать до 23.00
							br
							| Специалисты выяснили, что недосып ухудшает выработку мелатонина — гормона, отвечающего за снижение веса и контроль аппетита.
			.article__wrap
				h4.article__ttl Помните о водном балансе
				.article__desc
					p.article__text Рассчитать дневную норму можно по формуле: (Х кг твоего веса * 0.03 = литров в сутки).
					p.article__title-calendar Для чего потреблять так много воды?
					.article__list-wrap.mt
						ul.article__list.list-art
							li.list-art__item Вода выводит токсины
							li.list-art__item Снижает калораж пищи
							li.list-art__item Предотвращает запоры
							li.list-art__item Несет кислород в&nbsp;клетки
							li.list-art__item Помогает сжигать жиры
							li.list-art__item Подавляет чувство голода
							li.list-art__item Уменьшает усталость
							li.list-art__item Сохраняет молодость кожи
			.article__wrap
				h4.article__ttl Подключив биологически активные добавки, возможно существенно улучшить результат
				.article__desc
					p.article__text За счет чего они работают?
					ul.article__list.list-component.mt
							li.list-component__item
								.list-component__wrap-photo
									img.list-component__photo(src="img/component_1.png", alt="")
								p.list-component__text Синефрин уникальный тем, что не дает сахарам превращаться в жир и накапливаться в организме. Наоборот — он сжигает его даже без сильных физических нагрузок. Из ощутимых изменений — с ним меньше хочется есть.
							li.list-component__item
								.list-component__wrap-photo
									img.list-component__photo(src="img/component_2.png", alt="")
								p.list-component__text Ананас тонизирует кожу, улучшает кровообращение. Эффективен против целлюлита и растяжек, снимает отечность
							li.list-component__item
								.list-component__wrap-photo
									img.list-component__photo(src="img/component_3.png", alt="")
								p.list-component__text Глюкоманнан способствует похудению за счет снижения аппетита, повышения чувства сытости. Этот компонент в составе капсул замедляет пищеварение и блокирует всасывание жиров. Кроме того, помогает вовремя выводить переваренную пищу, оказывая детокс-эффект.
