section.article
	.container
		h1.article__title Контролируйте свой вес, сахар и холестерин 
		img.article__photo-main(src="img/article-main-7.jpg", alt="")
		.article__content
			.article__wrap
				.article__desc
					p.article__text.article__text--quote НОРМА ИНДЕКСА МАССЫ ТЕЛА (ИМТ) - 
						span 18,5 - 24,9
						br
						| ИМТ = 
						span ВЕС (КГ) / РОСТ (М)
			.article__wrap
				h4.article__ttl Зачем придерживаться диеты при гипертонической болезни?
				.article__desc
					p.article__text Правильное питание благоприятно влияет на сердечно-сосудистую систему. Диета в составе комплексного лечения помогает улучшить работу вашего сердца и сосудов. Грамотное питание позволяет избавиться от лишних килограммов, наличие которых может спровоцировать обострение заболеваний.
			.article__wrap
				h4.article__wrap-ttl Диета
					span рассчитана на 5 приемов пищи в день (завтрак, ланч, обед, полдник, ужин).
				.article__diet-list
					p.article__diet-ttl НЕДЕЛЯ 1
					.article__diet-weeks
						.article__diet-wrap
							p.article__diet-subttl Понедельник/четверг
							ul.article__list.list-art
								li.list-art__item овсяная каша быстрого приготовления с добавлением орехов и сухофруктов, отвар шиповника; 
								li.list-art__item яблоко, домашний компот;
								li.list-art__item вегетарианский суп, паровая котлета (мясная или рыбная), несладкий компот;
								li.list-art__item творожная запеканка с травяным чаем;
								li.list-art__item тушёные овощи с рыбой, домашний кисель.
						.article__diet-wrap
							p.article__diet-subttl Вторник/пятница
							ul.article__list.list-art
								li.list-art__item нежирный творог с сухофруктами и орешками, компот; 
								li.list-art__item кефир/несладкий йогурт, фрукты;
								li.list-art__item легкий рыбный суп с кусочками ржаного хлеба;
								li.list-art__item домашнее фруктовое желе;
								li.list-art__item салат из сезонных овощей, заправленных растительным маслом, отварная/запеченная индейка.
						.article__diet-wrap
							p.article__diet-subttl Среда/суббота
							ul.article__list.list-art
								li.list-art__item овсянка на воде, без масла и сахара, отвар шиповника;
								li.list-art__item стакан кефира с пшеничными отрубями и льняными семечками;
								li.list-art__item рыбный суп, овощной салат;
								li.list-art__item банан и яблоко;
								li.list-art__item овощной суп, домашний компот.
						.article__diet-wrap
							p.article__diet-subttl Воскресение
							ul.article__list.list-art
								li.list-art__item стакан кефира, два запеченных яблока;
								li.list-art__item ягоды/сухофрукты, семечки/орешки;
								li.list-art__item винегрет, тефтели на пару;
								li.list-art__item кефир или несладкий йогурт, банан;
								li.list-art__item плов с курицей и без зажарки, с легким овощным салатом, чай с мелиссой.
				.article__diet-list
					p.article__diet-ttl НЕДЕЛЯ 2
					.article__diet-weeks
						.article__diet-wrap
							p.article__diet-subttl Понедельник/четверг
							ul.article__list.list-art
								li.list-art__item молочная рисовая каша (молоко разбавляется с водой 1:1), компот;
								li.list-art__item любой фрукт;
								li.list-art__item легкий куриный супчик, салат из овощей;
								li.list-art__item творожная запеканка;
								li.list-art__item тушеная рыбка с овощами, домашний кисель.
						.article__diet-wrap
							p.article__diet-subttl Вторник/пятница
							ul.article__list.list-art
								li.list-art__item творог с курагой, чашка травяного чая;
								li.list-art__item банан, несладкий йогурт; 
								li.list-art__item вегетарианский суп, 2 паровые котлеты;
								li.list-art__item запеченное яблоко с компотом;
								li.list-art__item индейка на пару, свежие овощи.
						.article__diet-wrap
							p.article__diet-subttl Среда/суббота
							ul.article__list.list-art
								li.list-art__item овсяная каша на воде с натертым яблоком, отвар шиповника;
								li.list-art__item кефир с отрубями и льном;
								li.list-art__item рыба на пару с овощным салатом;
								li.list-art__item горсть сухофруктов и орехи;
								li.list-art__item рагу из тушеных овощей и курицы.
						.article__diet-wrap
							p.article__diet-subttl Воскресение
							ul.article__list.list-art
								li.list-art__item мюсли с кефиром, банан;
								li.list-art__item салат из сезонных фруктов;
								li.list-art__item суп с фасолью и перловкой, ржаной хлеб;
								li.list-art__item нежирный йогурт;
								li.list-art__item плов из длиннозерного риса, грибов и моркови, кисель.
				.article__diet-list
					p.article__diet-ttl НЕДЕЛЯ 3
					.article__diet-weeks
						.article__diet-wrap
							p.article__diet-subttl Понедельник/четверг
							ul.article__list.list-art
								li.list-art__item гречневая каша и стакан молока;
								li.list-art__item любой фрукт;
								li.list-art__item нежирное вареное мясо и легкий суп, хлеб;
								li.list-art__item свежие ягоды или фрукт, отвар шиповника; 
								li.list-art__item винегрет, рис, куриное филе, зеленый чай. 
						.article__diet-wrap
							p.article__diet-subttl Вторник/пятница
							ul.article__list.list-art
								li.list-art__item овощное рагу, компот и кусочек печенья;
								li.list-art__item салат из свежей капусты и яблок;
								li.list-art__item зеленые щи, филе индейки отварное, хлеб и напиток цикория;
								li.list-art__item творожная запеканка;
								li.list-art__item вареная рыба, салат из авокадо с зеленым луком, травяной чай. 
						.article__diet-wrap
							p.article__diet-subttl Среда/суббота
							ul.article__list.list-art
								li.list-art__item овсяная каша, отвар шиповника;
								li.list-art__item свежие ягоды, несладкий йогурт;
								li.list-art__item отварное куриное филе, каша из чечевицы, кисель;
								li.list-art__item несладкий йогурт, яблоко;
								li.list-art__item грибы в сметанном соусе, компот.
						.article__diet-wrap
							p.article__diet-subttl Воскресение
							ul.article__list.list-art
								li.list-art__item белковый омлет на пару, отвар шиповника;
								li.list-art__item стакан кефира с пшеничными отрубями и льняными семечками;
								li.list-art__item печеный картофель с рыбной котлетой на пару, ягодный морс;
								li.list-art__item свежие ягоды, кефир;
								li.list-art__item тушеное мясо кролика с черносливом, салат из яблока с капустой, компот.
				.article__diet-list
					p.article__diet-ttl НЕДЕЛЯ 4
					.article__diet-weeks
						.article__diet-wrap
							p.article__diet-subttl Понедельник/четверг
							ul.article__list.list-art
								li.list-art__item овсянка с орехами и сухофруктами, отвар шиповника;
								li.list-art__item фруктовый пудинг;
								li.list-art__item бефстроганов из отварного риса с картофелем отварным, сок апельсиновый;
								li.list-art__item запеканка творожная;
								li.list-art__item тушеные овощи с рыбой, зеленый чай.

						.article__diet-wrap
							p.article__diet-subttl Вторник/пятница
							ul.article__list.list-art
								li.list-art__item овсянка с орехами и сухофруктами, отвар шиповника;
								li.list-art__item любой сезонный фрукт;
								li.list-art__item щи вегетарианские;
								li.list-art__item запеченное яблоко, компот;
								li.list-art__item мясо отварное, винегрет (на растительном масле), чай с молоком.
						.article__diet-wrap
							p.article__diet-subttl Среда/суббота
							ul.article__list.list-art
								li.list-art__item овсянка на воде с добавлением нежирного молока, горсть орехов, чай;
								li.list-art__item нежирный натуральный йогурт;
								li.list-art__item тушеная говяжья печень со стручковой фасолью, цельнозерновой хлеб;
								li.list-art__item стакан кефира;
								li.list-art__item рыба запеченная, плов с фруктами, чай с молоком.
						.article__diet-wrap
							p.article__diet-subttl Воскресение
							ul.article__list.list-art
								li.list-art__item творог с сухофруктами и компот;
								li.list-art__item салат из свежей капусты и яблок;
								li.list-art__item перловый суп на воде, телятина на пару, пюре из моркови, ягодный морс;
								li.list-art__item киви, отвар шиповника;
								li.list-art__item тушеные овощи и кусочек рыбы, кисель.