section.article
	.container
		h1.article__title 10 продуктов для сохранения зрения
		img.article__photo-main(src="img/article-main-14.jpg", alt="")
		.article__content
			.article__wrap
				.article__desc
					p.article__text.mb Людям с плохим зрением необходимо запомнить: 
						span.article__text--bold оранжевые продукты
						|  богаты каротином и обладают антиоксидантными свойствами, а 
						span.article__text--bold темно-зеленые продукты
						|  содержат лютеин и зеаксантин.
					ul.article__list.list-art
						li.list-art__item
							span Морковь
							br
							| Обогащена бета-каротином, который помогает поддерживать остроту зрения.
						li.list-art__item
							span Зеленые листовые овощи
							br
							| Обогащены лютеином и зеаксантином, замедляющих развитие дистрофии сетчатки.
						li.list-art__item
							span Черника
							br
							| Настоящий суперфуд для зрения, содержащий в высокой концентрации витамины В1 и С, а также лютеин.
						li.list-art__item
							span Морская рыба
							br
							| Источник ненасыщенных жирных кислот, незаменимых в работе кровеносной системы.
						li.list-art__item
							span Бобовые
							br
							| Содержат много цинка, поддерживающего здоровое состояние сетчатки.
						li.list-art__item
							span Орехи
							br
							| Из-за высокой концентрации фосфора, калия и полезных жиров в составе, укрепляют зрение.
						li.list-art__item
							span Молочные продукты
							br
							| Кальций, входящий в их состав, также входит в состав клеток и тканевой жидкости глаза.
						li.list-art__item
							span Черный шоколад
							br
							| Защищает кровеносные сосуды, благодаря флавоноидам, укрепляющим роговицу.
						li.list-art__item
							span Крупы (гречка и овсянка)
							br
							| Способствуют улучшению заживления и ускорению восстановления структур глаза.
						li.list-art__item
							span Яйца
							br
							| В яйцах содержится сера, лютеин и аминокислоты которые защищают глаза от катаракты.
			.article__wrap
				h4.article__ttl Простые рецепты для сохранения зрения
			.article__wrap
				.recipe
					h3.recipe__ttl Морковный салат
					.recipe__content
						img.recipe__photo(src="img/recipe_vision-1.jpg", alt="")
						ul.recipe__list.list-r
							li.list-r__item морковь (2 шт);
							li.list-r__item грецкие орехи (горсть);
							li.list-r__item петрушка (по вкусу);
							li.list-r__item сметана (1 ст.л);
							li.list-r__item оливковое масло (1 ст.л).
						p.recipe__desc Морковь натираем на крупную терку. К ней добавляем горсть дробленых грецких орехов и заправку из смеси оливкового масла и сметаны. Специи по вкусу.
				.recipe
					h3.recipe__ttl Карпаччо из свеклы
					.recipe__content
						img.recipe__photo(src="img/recipe_vision-2.jpg", alt="")
						ul.recipe__list.list-r
							li.list-r__item свекла (1 шт);
							li.list-r__item козий сыр или зернистый творог (200 г);
							li.list-r__item семечки (для украшения);
							li.list-r__item лимонный сок (0,5 ч. л);
							li.list-r__item оливковое масло (1 ст. л).
						p.recipe__desc Свеклу отвариваем до готовности. Нарезаем ее тонкими кружочками и выкладываем на блюдо. Сверху посыпаем зернистым творогом или сыром, смесью специй и орехов. Лепестки свеклы поливаем миксом оливкового масла и лимонного сока.
				.recipe
					h3.recipe__ttl Энергетический смузи
					.recipe__content
						img.recipe__photo(src="img/recipe_vision-3.jpg", alt="")
						ul.recipe__list.list-r
							li.list-r__item зеленые яблоки (2 шт);
							li.list-r__item сельдерей (1 шт);
							li.list-r__item лимонный сок (0,5 ч.л);
							li.list-r__item вода (100-200 мл).
						p.recipe__desc Все компоненты перебить в блендере и добавить воду. Витаминный питательный смузи готов.
				.recipe
					h3.recipe__ttl Морковный суп-пюре
					.recipe__content
						img.recipe__photo(src="img/recipe_vision-4.jpg", alt="")
						ul.recipe__list.list-r
							li.list-r__item морковь (600 г);
							li.list-r__item репчатый лук (1 шт);
							li.list-r__item петрушка (1 пучок);
							li.list-r__item укроп (0,5 пучка);
							li.list-r__item топленое масло (1-2 ч.л);
							li.list-r__item овощной бульон (700 мл);
							li.list-r__item соль, перец (по вкусу).
						p.recipe__desc Морковь и лук нарезаем произвольно. Тушим на хорошо разогретой сковороде с топленым маслом в течение 5 минут. Доводим овощной бульон до кипения. Добавляем в бульон овощи с маслом и мелко нарубленную зелень. Варим на низком огне до готовности. Перед подачей измельчаем суп-пюре в блендере.
				.recipe
					h3.recipe__ttl Рыба под овощной подушкой
					.recipe__content
						img.recipe__photo(src="img/recipe_vision-5.jpg", alt="")
						ul.recipe__list.list-r
							li.list-r__item любая морская рыба (1 - 1,5 кг);
							li.list-r__item морковь (2 шт);
							li.list-r__item репчатый лук (2 шт);
							li.list-r__item помидоры (2 шт);
							li.list-r__item твердый сыр (100 г);
							li.list-r__item соль, перец (по вкусу).
						p.recipe__desc Рыбу филируем. Нарезаем на крупные кусочки и пару минут обжариваем на сковороде без масла. Морковь натираем, лук и помидоры нарезаем. Форму смазываем оливковым маслом, выкладываем рыбу и сверху формируем овощную подушку. Запекаем при температуре 170 градусов около 20 минут. Перед подачей украшаем твердым сыром.
				.recipe
					h3.recipe__ttl Черничный сорбет
					.recipe__content
						img.recipe__photo(src="img/recipe_vision-6.jpg", alt="")
						ul.recipe__list.list-r
							li.list-r__item ягоды черники (500 г);
							li.list-r__item листья мяты;
							li.list-r__item мед (по вкусу).
						p.recipe__desc Чернику перебиваем с медом в блендере до однородности. Выкладываем в красивые креманки и замораживаем наш сорбет. Подавать можно с листиками мяты. Вместо черники можно использовать другие ягоды: черную смородину, голубику или малину.
				.recipe
					h3.recipe__ttl Постные голубцы
					.recipe__content
						img.recipe__photo(src="img/recipe_vision-7.jpg", alt="")
						ul.recipe__list.list-r
							li.list-r__item пекинская капуста (12 листов);
							li.list-r__item петрушка (0,5 пучка);
							li.list-r__item морковь (300 г);
							li.list-r__item перец сладкий (2 шт);
							li.list-r__item рис (1 стакан);
							li.list-r__item чеснок, соль, перец (по вкусу).
						p.recipe__desc Лук и чеснок измельчаем, морковь шинкуем полосками. Тушим овощи, через 5 минут к ним добавляем нарезанный перец. В отдельной кастрюле отвариваем рис. Соединяем остывший рис и овощи, добавляем специи. На капустный лист выкладываем начинку и заворачиваем голубцы. Варим голубцы на пару около 20 минут.
				.recipe
					h3.recipe__ttl Ореховые конфеты
					.recipe__content
						img.recipe__photo(src="img/recipe_vision-8.jpg", alt="")
						ul.recipe__list.list-r
							li.list-r__item любые орехи (500 г);
							li.list-r__item мед (2 ст. л);
							li.list-r__item экстрачерный шоколад (1 плитка).
						p.recipe__desc Орехи перебиваем в блендере и соединяем с медом. Шоколад растапливаем на водяной бане. Формируем из орехово-медовой смеси круглые шарики-конфеты и окунаем их в шоколад. Перекладываем на форму с пергаментом и отправляем в холодильник на 20 минут.