section.article
	.container
		h1.article__title Народная медицина для здоровья глаз
		img.article__photo-main(src="img/article-main-16.jpg", alt="")
		.article__content
			.article__wrap
				h4.article__ttl Зеленый чай
				.article__desc
					p.article__text Экстракт зеленого чая обладает мощный антиоксидантным, антисептическим и тонизирующим действием. Вам понадобится:
					ul.article__list.list-art.mb
						li.list-art__item 2 пакетика натурального зеленого чая.
					p.article__text Для снятия отечности и усталости с глаз возьмите два использованных пакетика зеленого чая. Охладите и приложите к глазам на 15-20 минут. Снимите пакетики и промойте глаза.
			.article__wrap
				h4.article__ttl Ромашка
				.article__desc
					p.article__text Противовоспалительные свойства ромашки могут помочь облегчить симптомы, связанные с глазными инфекциями. Вам понадобится:
					ul.article__list.list-art.mb
						li.list-art__item 1 чайная ложка ромашки лекарственной;
						li.list-art__item 1 стакан теплой воды.
					p.article__text Вскипятите чашку воды и добавьте в нее чайную ложку ромашки. Дайте немного остыть. Смочите в этом растворе ватные диски. Используйте ее как теплый компресс и после этого промойте глаза.
			.article__wrap
				h4.article__ttl Лимонный сок
				.article__desc
					p.article__text Благодаря своим противовоспалительным и антиоксидантным свойствам, лимонный сок помогает бороться с глазными инфекциями и их симптомами. Вам понадобится:
					ul.article__list.list-art.mb
						li.list-art__item 1 стакан теплой воды;
						li.list-art__item ½ спелого лимона.
					p.article__text Извлеките сок из лимона. Добавьте его в стакан с теплой водой и хорошо перемешайте. Выпейте. Принимать лимонный сок нужно хотя бы раз в день до уменьшения проявлений глазных инфекций.
			.article__wrap
				h4.article__ttl Солевой раствор
				.article__desc
					p.article__text Антисептические свойства солевого раствора делают его хорошим обеззараживающим средством. Вам понадобится:
					ul.article__list.list-art.mb
						li.list-art__item ½ литра кипяченой воды;
						li.list-art__item 1-2 чайные ложки соли.
					p.article__text Смешайте соль с кипяченой водой. Тщательно промойте глаза этим раствором. Выполнять это действие можно несколько раз в день.