section.article
	.container
		h1.article__title Народные секреты целительства
		img.article__photo-main(src="img/article-main-4.jpg", alt="")
		.article__content
			p.article__text-main 
				span ВНИМАНИЕ! 
				| Перед использованием любого из методов следует обязательно проконсультироваться с врачом. Могут быть противопоказания!
			.article__wrap
				h4.article__ttl Ароматерапия
				.article__desc
					p.article__text Исследователи утверждают, что ароматные эфирные масла, такие как пажитник, корица, тмин и орегано, помогают снизить систолическое артериальное давление (верхнее значение в показаниях артериального давления).
					p.article__text Масла также снижают уровень глюкозы в крови при использовании в комбинации:
					ul.article__list.list-art.mt
						li.list-art__item
							span.bold 4-5 капель масла мелиссы 
							| лекарственной в аромалампу или развести с 0,5 л воды
						li.list-art__item
							span.bold 2-4 капли масла лаванды 
							| выпарить в аромалампе за несколько часов до сна
						li.list-art__item
							span.bold 3 капли эфирного масла корицы
							|  смешать с оливковым маслом или добавить в аромалампу самостоятельно
						li.list-art__item
							span.bold 5-6 капель черного тмина 
							| разогреть в аромалампе для стабилизации нервного состояния
			.article__wrap
				h4.article__ttl Точечный массаж
				.article__desc
					p.article__text Акупрессура включает в себя давление на стратегические точки тела. Он предназначен для создания эффектов, аналогичных акупунктуре. Массажная терапия также включает применение давления для снятия мышечного напряжения. Массаж может улучшить кровообращение, снять стресс и улучшить подвижность суставов. Все эти эффекты могут помочь человеку с симптомами повышенного сахара крови:
					ul.article__list.list-type.mt
						li.list-type__item
							img.list-type__photo(src="img/type_1.png", alt="")
							p.list-type__text 
								span Точка Тай-бай 
								| находится на внутренней боковой поверхности стопы, внизу и сзади от основания большого пальца, во впадине. Ее массаж улучшает кровообращение стоп, уменьшает головную боль и боль в суставах.
						li.list-type__item
							img.list-type__photo(src="img/type_2.png", alt="")
							p.list-type__text 
								span Точка Чжан-мэнь 
								| принадлежит меридиану печени. Чтобы ее найти, надо отсчитать сверху на груди 11 ребро и нажать на свободный, не прикрепленный к грудине) конец. Способствует уменьшению массы тела.
						li.list-type__item
							img.list-type__photo(src="img/type_3.png", alt="")
							p.list-type__text 
								span Точка Пи-шу 
								| лежит на меридиане мочевого пузыря. Она располагается на спине, на уровне промежутка между XI и XII грудными позвонками, в сторону от позвоночника на ширину 2 пальцев. Снижает аппетит, стимулирует работу поджелудочной железы.
						li.list-type__item
							img.list-type__photo(src="img/type_4.png", alt="")
							p.list-type__text 
								span Точка Да-ду 
								| принадлежит меридиану поджелудочной железы. Располагается на боковой поверхности стопы, между основанием и первым суставом большого пальца. Это общетонизирующая точка, улучшающая состояние организма.
						li.list-type__item
							img.list-type__photo(src="img/type_5.png", alt="")
							p.list-type__text 
								span Точка Шао-фу 
								| завершает точечный массаж при сахарном диабете. Она лежит на меридиане сердца, на внутренней стороне ладони, в углублении между косточками, идущими к безымянному пальцу и мизинцу, чуть ниже оснований пальцев. Ее массаж улучшает состояние сердечно-сосудистой системы, является профилактикой сердечных осложнений.