section.contacts
	.container
		.contacts__wrap
			.contacts__info
				h2.contacts__title.title Контакты
				p.contacts__desc.desc-title Вы можете задать свой вопрос лил попросить нас осветить интересующую тему заполнив краткую форму на этой странице
				//- .contacts__row
				//- 	p.contacts__city
				//- 		i.fico.fico-place
				//- 		span Lorem ipsum dolor sit.
				//- 	.contacts__links
				//- 		a.contacts__link(href="tel:+30000000000") (000) 000 00 00
				//- 		a.contacts__link(href="mailto:email@email.net") email@email.net
				//- 	p.contacts__address Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, aperiam.
			.contacts__form
				include ../form