extends templates/layout/layout.pug
block head
	title Общеобразовательный блог о здоровье человека
block content
	include templates/about/header
	include templates/about/purpose
	include templates/about/fitness
	//- include templates/about/recipes
	include templates/articles