extends templates/layout/layout.pug
block head
	title Блог о поддержании здоровья и настроения
block content
	include templates/home/header
	include templates/home/info
	include templates/home/content
	include templates/banner
	include templates/articles