.purpose
	padding: 100px 0
	background: #BF697A
	+r(1249)
		padding: 80px 0
	+r(1023)
		padding: 60px 0
	&__wrap
		display: flex
		align-items: center
		justify-content: center
	&__col
		max-width: 560px
		width: 100%
		padding: 40px 0
		display: flex
		align-items: flex-start
		+nlt
			padding-right: 70px
			border-right: 1px solid transparentize(white, .5)
		&:last-of-type
			padding-left: 70px
		+r(1249)
			+nlt
				padding-right: 50px
			&:last-of-type
				padding-left: 50px
		+r(1023)
			padding: 20px 0
			+nlt
				padding-right: 30px
			&:last-of-type
				padding-left: 30px
	&__img
		margin-right: 10px
		width: 95px
		+r(1023)
			margin-right: 0
			width: 75px
	&__ttl
		color: white
		margin-bottom: 15px
		line-height: 1
	&__text
		font-size: 18px
		line-height: 28px
		color: transparentize(white, .2)