section.content
	.container
		.content__row
			.content__col-img
				img(src="img/svg/content_1.svg", alt="")
			.content__col-info
				h2.content__title.title Польза физических упражнений
				p.content__desc.desc-title Доказано ученными, что регулярные физические упражения момогают поддерживать организм в  тонусе.
				a.content__btn.btn.btn--empty(href="#") Читать подробнее
		.content__row
			.content__col-info
				h2.content__title.title Баланс психологического и физического здоровья
				p.content__desc.desc-title Очень важно уделять внимание как внутреннему миру, так и внешнему. Это является простым рецептом счастя жизни
				a.content__btn.btn.btn--empty(href="#") Читать подробнее
			.content__col-img
				img(src="img/svg/content_2.svg", alt="")