section.content
	.container
		.content__row
			.content__col-img
				img(src="img/svg/content_1.svg", alt="")
			.content__col-info
				h2.content__title.title Lorem ipsum dolor sit.
				p.content__desc.desc-title Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero repellat, sapiente alias porro error eaque minus ipsum magnam recusandae vel.
				a.content__btn.btn.btn--empty(href="#") Learn more
		.content__row
			.content__col-info
				h2.content__title.title Lorem ipsum dolor sit.
				p.content__desc.desc-title Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero repellat, sapiente alias porro error eaque minus ipsum magnam recusandae vel.
				a.content__btn.btn.btn--empty(href="#") Learn more
			.content__col-img
				img(src="img/svg/content_2.svg", alt="")