header.header
	.container
		.header__wrap
			.header__left
				h1.header__title Lorem ipsum dolor sit amet.
				p.header__desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea eius deserunt placeat accusamus ut esse ex consectetur expedita repellat aliquid.
				a.header__btn.btn(href="#") Про нас
			.header__right
				img(src="img/svg/header_bg.svg", alt="")