header.header
	.container
		.header__wrap
			.header__left
				h1.header__title Блог о поддержании здоровья и настроения
				p.header__desc Хорошее настроение необходимо включить в арсенал лечебных средств. Радость несет человеку здоровье, положительные эмоции мобилизуют защитные силы организма, и как результат - человек редко болеет, а, заболев, быстрее выздоравливает. Раны у оптимистов заживают быстрее, чем у людей с подавленным настроением
				a.header__btn.btn(href="about.html") О нас
			.header__right
				img(src="img/svg/header_bg.svg", alt="")