header.header
	.container
		.header__wrap
			.header__left
				h1.header__title Энциклопедия здоровья и&nbsp;отличного настроения
				.header__right.header__right--mob
					img(src="img/svg/header_bg_1.svg", alt="")
				p.header__desc Хорошее настроение — лучшее средство для поддержания здоровья. Положительные эмоции дарят заряд энергии, укрепляют защитные силы организма, помогают быстрее справляться с нарушениями в его работе. Как результат — вы менее уязвимы к вирусам, инфекциям, другим физическим или психологическим проблемам. Интересный факт: раны у оптимистов заживают быстрее, чем у пессимистов.
				a.header__btn.btn(href="about.html") О нас
			.header__right.header__right--desc
				img(src="img/svg/header_bg_1.svg", alt="")