mixin info-item(item)
	.info-item
		.info-item__photo-wrap
			img(src=item.srcPhoto, alt="")
		p.info-item__ttl!= item.ttl
		p.info-item__desc!= item.desc


-
	const infoArray = [
		{
			srcPhoto: 'img/svg/info-icon-1.svg',
			ttl: 'Повышенное <br> давление',
			desc: 'О факторах риска и способах восстановления'
		},
		{
			srcPhoto: 'img/svg/info-icon-2.svg',
			ttl: 'Рецепты <br>для стройности',
			desc: 'Полезные и вкусные блюда на каждый день'
		},
		{
			srcPhoto: 'img/svg/info-icon-3.svg',
			ttl: 'Сердечные<br> нарушения',
			desc: 'Обзор недугов, нарушающих работу сердца'
		},
		{
			srcPhoto: 'img/svg/info-icon-4.svg',
			ttl: 'Первая<br> помощь',
			desc: 'Основные правила помощи в экстренной ситуации'
		},
		{
			srcPhoto: 'img/svg/info-icon-5.svg',
			ttl: 'Повышенный<br> сахар',
			desc: 'Как поддерживать уровень сахара в норме и укрепить здоровье'
		},
		{
			srcPhoto: 'img/svg/info-icon-6.svg',
			ttl: 'Профилактика нарушений',
			desc: 'Полезные советы по уходу за здоровьем'
		}
	];



section.info
	.container
		h2.info__title.title Что можно найти в нашем блоге?
		p.info__desc.desc-title Как сохранить здоровье и хорошее самочувствие? В нашем блоге вы найдете ответы на этот вопрос. Предлагаем вашему вниманию: полезные советы, практики от экспертов, рецепты здоровых и вкусных блюд.
		.info__list
			each item in infoArray
				+info-item(item)