mixin info-item(item)
	.info-item
		.info-item__photo-wrap
			img(src=item.srcPhoto, alt="")
		p.info-item__ttl!= item.ttl
		p.info-item__desc!= item.desc


-
	const infoArray = [
		{
			srcPhoto: 'img/svg/info-icon-1.svg',
			ttl: 'Профилактика <br> здоровья',
			desc: 'Практические советы по поддержанию общего здоровья'
		},
		{
			srcPhoto: 'img/svg/info-icon-2.svg',
			ttl: 'Кулинарные <br>рецепты',
			desc: 'Вкусная еда, которая позволяет поднять настроение'
		},
		{
			srcPhoto: 'img/svg/info-icon-3.svg',
			ttl: 'Сердечные <br>заболевания',
			desc: 'Обзор болезней сердца '
		},
		{
			srcPhoto: 'img/svg/info-icon-4.svg',
			ttl: 'Первая медицинская помощь',
			desc: 'Правила медицинской помощи'
		},
		{
			srcPhoto: 'img/svg/info-icon-5.svg',
			ttl: 'Профилактика <br>диабета',
			desc: 'Уход за здоровьем для диабетиков'
		},
		{
			srcPhoto: 'img/svg/info-icon-6.svg',
			ttl: 'Профилактика <br>гипертонии',
			desc: 'Уход за здоровьем для диабетиков'
		}
	];



section.info
	.container
		h2.info__title.title Что можно найти на нашем блоге?
		p.info__desc.desc-title Вы когда нибудь задумывались как правильно поддерживать свое здоровье? У нас вы сможете найти полезные советы и общепринятые практики, принятые всемирной организацией ВОЗ
		.info__list
			each item in infoArray
				+info-item(item)